@import url(default.css);
@import url(animations.css);

@import url(slick.css);
/* Media Querys */

@media screen and (max-width: 768px) {}

@media screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen and (min-width: 1024px) {

    /* Header and Nav */
    header {
        height: 100vh;
        width: 100%;
        background-image: url(../images/header-image.png);
        background-position: center center;
        background-size: cover;
    }

    header nav {
        position: fixed;
        z-index: 2000;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--branco);
        padding: 10px 5%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }

    .overlay {
        content: "";
        position: absolute;
        background-color: #00000070;
        width: 100vw;
        height: 100vh;
    }

    nav .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .logo img {
        width: 50px;
    }

    .logo {
        text-decoration: none;
        color: var(--preto);
        font-family: var();
    }

    nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul li {
        list-style: none;
    }

    nav ul li a {
        margin: 0px 10px;
    }

    nav .action {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav .action a {
        background-color: var(--dourado);
        padding: 10px 45px;
        text-decoration: none;
        color: var(--azul-escuro);
        margin-left: 10px;
        border-radius: 5px;
    }

    nav .action a:hover {
        background-color: #fce056;
        transition: 500ms ease-in-out;
    }

    .content-header {
        position: relative;
        top: 40%;
        display: flex;
        justify-content: center;
    }

    .title {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title h1,
    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--branco);
    }

    .title h1 {
        font-size: 48px;
    }

    /* arrows */
    .arrow {
        position: absolute;
        top: 40vh;
        left: 50%;
        transform: translate(-50%, -50%);
        transform: rotate(360deg);
        cursor: pointer;
    }

    .arrow span {
        display: block;
        width: 1.5vw;
        height: 1.5vw;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
        transform: rotate(45deg);
        margin: -10px;
        animation: animate 2s infinite;
    }

    .arrow span:nth-child(2) {
        animation-delay: -0.2s;
    }

    .arrow span:nth-child(3) {
        animation-delay: -0.4s;
    }


    /* Form */
    main .form {
        padding: 8% 5%;
        background-color: var(--azul-escuro);
    }

    .form form {
        margin: 0% 30%;
    }

    .form form .informations {
        margin: 10px 0px;
    }

    .title-form {
        display: flex;
        justify-content: center;
    }

    .title-form h2 {
        color: var(--branco);
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Gallery */
    .title-images {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
    }

    .title-images h3 {
        font-size: 24px;
    }

    .gallery-images {
        padding: 5%;
    }

    .gallery {
        display: flex;
    }

    .gallery a {
        margin: 5px;
    }

    .gallery a img {
        width: 100%;
        border-radius: 5px;
    }

    .gallery a img:nth-child(1) {
        display: none;
    }

    .fotos,
    .fotos2 {
        margin: 50px 0px;
    }

    /* Sobre */
    main .about {
        padding: 5% 5% 0% 5%;
        margin: 0% 5%;
    }

    .about .info h2, h3 {
        color: var(--preto);
        display: flex;
        justify-content: center;
        margin: 30px 0px;
    }



    /* Footer */
    footer .copy {
        padding: 20px 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--azul-itenso);
    }

    footer .copy span {
        margin: 0px 5px;
        color: var(--branco);
    }

    footer .copy a {
        color: var(--branco);
    }
}